USE [master]
GO
/****** Object:  Database [AgroControl]    Script Date: 12.05.2026 13:13:24 ******/
CREATE DATABASE [AgroControl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgroControl', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AgroControl.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AgroControl_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AgroControl_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgroControl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgroControl]
GO
/****** Object:  Table [dbo].[batch_materials]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[material_id] [int] NOT NULL,
	[lot_number] [nvarchar](100) NOT NULL,
	[quantity_used_kg] [decimal](12, 3) NOT NULL,
	[supplier_lot] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batch_steps]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[step_id] [int] NOT NULL,
	[step_order] [int] NOT NULL,
	[step_name] [nvarchar](100) NULL,
	[actual_temp_c] [decimal](8, 2) NULL,
	[actual_duration_min] [int] NULL,
	[actual_pressure_bar] [decimal](8, 2) NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[deviation_flag] [bit] NULL,
	[operator_comment] [nvarchar](max) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batches]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_number] [nvarchar](50) NOT NULL,
	[order_id] [int] NOT NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[status] [nvarchar](20) NULL,
	[actual_quantity_kg] [decimal](12, 2) NULL,
	[current_step_id] [int] NULL,
	[deviation_count] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deviation_events]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deviation_events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NOT NULL,
	[step_id] [int] NULL,
	[deviation_type] [nvarchar](50) NULL,
	[description] [nvarchar](max) NOT NULL,
	[severity] [nvarchar](20) NULL,
	[resolved] [bit] NULL,
	[resolved_at] [datetime] NULL,
	[resolved_by] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[line] [nvarchar](50) NULL,
	[equipment_type] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materials]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materials](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[material_type] [nvarchar](100) NULL,
	[unit] [nvarchar](20) NULL,
	[supplier] [nvarchar](200) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_orders]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [nvarchar](50) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[planned_quantity_kg] [decimal](12, 2) NOT NULL,
	[status] [nvarchar](50) NULL,
	[planned_start_date] [date] NULL,
	[actual_start_date] [date] NULL,
	[actual_end_date] [date] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[product_type] [nvarchar](100) NULL,
	[release_form] [nvarchar](100) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quality_tests]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quality_tests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_id] [int] NULL,
	[material_id] [int] NULL,
	[analysis_date] [datetime] NULL,
	[sample_type] [nvarchar](20) NOT NULL,
	[status] [nvarchar](50) NULL,
	[decision] [nvarchar](50) NULL,
	[analyst_comment] [nvarchar](max) NULL,
	[analyst_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipe_components]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_components](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[material_id] [int] NOT NULL,
	[percentage] [decimal](8, 4) NOT NULL,
	[load_order] [int] NOT NULL,
	[tolerance_min] [decimal](8, 4) NULL,
	[tolerance_max] [decimal](8, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipes]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[sum_percentage] [decimal](8, 2) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[approved_by] [int] NULL,
	[approved_at] [datetime] NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statuses]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entity_type] [nvarchar](50) NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
	[status_code] [nvarchar](20) NOT NULL,
	[sort_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tech_card_steps]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tech_card_steps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[card_id] [int] NOT NULL,
	[step_order] [int] NOT NULL,
	[step_name] [nvarchar](100) NOT NULL,
	[step_type] [nvarchar](50) NULL,
	[planned_temp_c] [decimal](8, 2) NULL,
	[planned_duration_min] [int] NULL,
	[planned_pressure_bar] [decimal](8, 2) NULL,
	[temp_tolerance_min] [decimal](8, 2) NULL,
	[temp_tolerance_max] [decimal](8, 2) NULL,
	[pressure_tolerance_min] [decimal](8, 2) NULL,
	[pressure_tolerance_max] [decimal](8, 2) NULL,
	[is_mandatory] [bit] NULL,
	[instruction] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tech_cards]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tech_cards](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[approved_by] [int] NULL,
	[approved_at] [datetime] NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_results]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NOT NULL,
	[parameter_name] [nvarchar](100) NOT NULL,
	[measured_value] [nvarchar](100) NULL,
	[standard_value] [nvarchar](100) NULL,
	[unit] [nvarchar](20) NULL,
	[result] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12.05.2026 13:13:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](200) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](50) NULL,
	[is_active] [bit] NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NULL,
	[department] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[batches] ON 

INSERT [dbo].[batches] ([id], [batch_number], [order_id], [start_time], [end_time], [status], [actual_quantity_kg], [current_step_id], [deviation_count], [created_at]) VALUES (1, N'B-2401-01', 1, CAST(N'2025-01-03T08:00:00.000' AS DateTime), CAST(N'2025-01-03T14:30:00.000' AS DateTime), N'completed', CAST(998.00 AS Decimal(12, 2)), NULL, 0, CAST(N'2026-05-06T09:54:41.130' AS DateTime))
INSERT [dbo].[batches] ([id], [batch_number], [order_id], [start_time], [end_time], [status], [actual_quantity_kg], [current_step_id], [deviation_count], [created_at]) VALUES (2, N'B-2401-02', 1, CAST(N'2025-02-03T08:15:00.000' AS DateTime), CAST(N'2025-02-03T15:00:00.000' AS DateTime), N'completed', CAST(1002.00 AS Decimal(12, 2)), NULL, 0, CAST(N'2026-05-06T09:54:41.130' AS DateTime))
INSERT [dbo].[batches] ([id], [batch_number], [order_id], [start_time], [end_time], [status], [actual_quantity_kg], [current_step_id], [deviation_count], [created_at]) VALUES (3, N'B-2402-01', 2, CAST(N'2025-03-03T09:00:00.000' AS DateTime), NULL, N'running', CAST(250.00 AS Decimal(12, 2)), NULL, 0, CAST(N'2026-05-06T09:54:41.130' AS DateTime))
SET IDENTITY_INSERT [dbo].[batches] OFF
GO
SET IDENTITY_INSERT [dbo].[materials] ON 

INSERT [dbo].[materials] ([id], [code], [name], [material_type], [unit], [supplier], [is_active], [created_at]) VALUES (1, N'ACT-001', N'Активное вещество А', N'active', N'kg', N'ХимПром', 1, CAST(N'2026-05-06T09:54:40.830' AS DateTime))
INSERT [dbo].[materials] ([id], [code], [name], [material_type], [unit], [supplier], [is_active], [created_at]) VALUES (2, N'SLV-001', N'Растворитель', N'solvent', N'L', N'Сольвент', 1, CAST(N'2026-05-06T09:54:40.830' AS DateTime))
INSERT [dbo].[materials] ([id], [code], [name], [material_type], [unit], [supplier], [is_active], [created_at]) VALUES (3, N'STB-001', N'Стабилизатор', N'additive', N'kg', N'СтабТех', 1, CAST(N'2026-05-06T09:54:40.830' AS DateTime))
SET IDENTITY_INSERT [dbo].[materials] OFF
GO
SET IDENTITY_INSERT [dbo].[production_orders] ON 

INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [planned_quantity_kg], [status], [planned_start_date], [actual_start_date], [actual_end_date], [created_by], [created_at]) VALUES (1, N'PO-2401', 1, CAST(1000.00 AS Decimal(12, 2)), N'completed', CAST(N'2025-03-01' AS Date), NULL, NULL, NULL, CAST(N'2026-05-06T09:54:41.107' AS DateTime))
INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [planned_quantity_kg], [status], [planned_start_date], [actual_start_date], [actual_end_date], [created_by], [created_at]) VALUES (2, N'PO-2402', 2, CAST(500.00 AS Decimal(12, 2)), N'in_progress', CAST(N'2025-03-03' AS Date), NULL, NULL, NULL, CAST(N'2026-05-06T09:54:41.107' AS DateTime))
INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [planned_quantity_kg], [status], [planned_start_date], [actual_start_date], [actual_end_date], [created_by], [created_at]) VALUES (3, N'PO-2403', 1, CAST(2000.00 AS Decimal(12, 2)), N'planned', CAST(N'2025-03-10' AS Date), NULL, NULL, NULL, CAST(N'2026-05-06T09:54:41.107' AS DateTime))
SET IDENTITY_INSERT [dbo].[production_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [code], [name], [product_type], [release_form], [status], [created_at], [updated_at]) VALUES (1, N'HERB-A', N'Гербицид А', N'herbicide', N'liquid', N'active', CAST(N'2026-05-06T09:54:40.770' AS DateTime), CAST(N'2026-05-06T09:54:40.770' AS DateTime))
INSERT [dbo].[products] ([id], [code], [name], [product_type], [release_form], [status], [created_at], [updated_at]) VALUES (2, N'INS-B', N'Инсектицид Б', N'insecticide', N'liquid', N'active', CAST(N'2026-05-06T09:54:40.770' AS DateTime), CAST(N'2026-05-06T09:54:40.770' AS DateTime))
INSERT [dbo].[products] ([id], [code], [name], [product_type], [release_form], [status], [created_at], [updated_at]) VALUES (3, N'FUNG-V', N'Фунгицид В', N'fungicide', N'powder', N'draft', CAST(N'2026-05-06T09:54:40.770' AS DateTime), CAST(N'2026-05-06T09:54:40.770' AS DateTime))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[quality_tests] ON 

INSERT [dbo].[quality_tests] ([id], [batch_id], [material_id], [analysis_date], [sample_type], [status], [decision], [analyst_comment], [analyst_id]) VALUES (1, 1, NULL, CAST(N'2026-05-06T09:54:41.200' AS DateTime), N'finished_product', N'completed', N'approved', N'Соответствует норме', NULL)
INSERT [dbo].[quality_tests] ([id], [batch_id], [material_id], [analysis_date], [sample_type], [status], [decision], [analyst_comment], [analyst_id]) VALUES (2, 2, NULL, CAST(N'2026-05-06T09:54:41.200' AS DateTime), N'finished_product', N'completed', N'blocked', N'Низкая концентрация', NULL)
SET IDENTITY_INSERT [dbo].[quality_tests] OFF
GO
SET IDENTITY_INSERT [dbo].[recipe_components] ON 

INSERT [dbo].[recipe_components] ([id], [recipe_id], [material_id], [percentage], [load_order], [tolerance_min], [tolerance_max]) VALUES (7, 1, 1, CAST(45.5000 AS Decimal(8, 4)), 1, CAST(0.0000 AS Decimal(8, 4)), CAST(0.0000 AS Decimal(8, 4)))
INSERT [dbo].[recipe_components] ([id], [recipe_id], [material_id], [percentage], [load_order], [tolerance_min], [tolerance_max]) VALUES (8, 1, 2, CAST(35.0000 AS Decimal(8, 4)), 2, CAST(0.0000 AS Decimal(8, 4)), CAST(0.0000 AS Decimal(8, 4)))
INSERT [dbo].[recipe_components] ([id], [recipe_id], [material_id], [percentage], [load_order], [tolerance_min], [tolerance_max]) VALUES (9, 1, 3, CAST(19.5000 AS Decimal(8, 4)), 3, CAST(0.0000 AS Decimal(8, 4)), CAST(0.0000 AS Decimal(8, 4)))
SET IDENTITY_INSERT [dbo].[recipe_components] OFF
GO
SET IDENTITY_INSERT [dbo].[recipes] ON 

INSERT [dbo].[recipes] ([id], [product_id], [version], [status], [sum_percentage], [created_by], [created_at], [approved_by], [approved_at], [description]) VALUES (1, 1, 1, N'active', CAST(100.00 AS Decimal(8, 2)), NULL, CAST(N'2026-05-06T09:54:40.903' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[recipes] ([id], [product_id], [version], [status], [sum_percentage], [created_by], [created_at], [approved_by], [approved_at], [description]) VALUES (2, 2, 1, N'active', CAST(100.00 AS Decimal(8, 2)), NULL, CAST(N'2026-05-06T09:54:40.903' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[recipes] ([id], [product_id], [version], [status], [sum_percentage], [created_by], [created_at], [approved_by], [approved_at], [description]) VALUES (3, 1, 2, N'draft', CAST(95.00 AS Decimal(8, 2)), NULL, CAST(N'2026-05-06T09:54:40.903' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[recipes] OFF
GO
SET IDENTITY_INSERT [dbo].[tech_card_steps] ON 

INSERT [dbo].[tech_card_steps] ([id], [card_id], [step_order], [step_name], [step_type], [planned_temp_c], [planned_duration_min], [planned_pressure_bar], [temp_tolerance_min], [temp_tolerance_max], [pressure_tolerance_min], [pressure_tolerance_max], [is_mandatory], [instruction]) VALUES (8, 1, 1, N'Смешивание', NULL, CAST(45.00 AS Decimal(8, 2)), 30, CAST(1.50 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), 1, NULL)
INSERT [dbo].[tech_card_steps] ([id], [card_id], [step_order], [step_name], [step_type], [planned_temp_c], [planned_duration_min], [planned_pressure_bar], [temp_tolerance_min], [temp_tolerance_max], [pressure_tolerance_min], [pressure_tolerance_max], [is_mandatory], [instruction]) VALUES (9, 1, 2, N'Выдержка', NULL, CAST(60.00 AS Decimal(8, 2)), 120, CAST(2.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), 1, NULL)
INSERT [dbo].[tech_card_steps] ([id], [card_id], [step_order], [step_name], [step_type], [planned_temp_c], [planned_duration_min], [planned_pressure_bar], [temp_tolerance_min], [temp_tolerance_max], [pressure_tolerance_min], [pressure_tolerance_max], [is_mandatory], [instruction]) VALUES (10, 1, 3, N'Экструзия', NULL, CAST(80.00 AS Decimal(8, 2)), 45, CAST(3.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[tech_card_steps] OFF
GO
SET IDENTITY_INSERT [dbo].[tech_cards] ON 

INSERT [dbo].[tech_cards] ([id], [product_id], [version], [status], [created_by], [created_at], [approved_by], [approved_at], [description]) VALUES (1, 1, 1, N'active', NULL, CAST(N'2026-05-06T09:54:41.023' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tech_cards] ([id], [product_id], [version], [status], [created_by], [created_at], [approved_by], [approved_at], [description]) VALUES (2, 2, 1, N'active', NULL, CAST(N'2026-05-06T09:54:41.023' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tech_cards] OFF
GO
SET IDENTITY_INSERT [dbo].[test_results] ON 

INSERT [dbo].[test_results] ([id], [test_id], [parameter_name], [measured_value], [standard_value], [unit], [result]) VALUES (4, 1, N'концентрация', N'98.2', N'97', N'%', N'pass')
INSERT [dbo].[test_results] ([id], [test_id], [parameter_name], [measured_value], [standard_value], [unit], [result]) VALUES (5, 2, N'концентрация', N'96.5', N'97', N'%', N'fail')
SET IDENTITY_INSERT [dbo].[test_results] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [is_active], [last_login], [created_at], [department]) VALUES (1, N'tech.ivanov', N'hash123', N'Иванов Иван Петрович', N'technologist', N'ivan@agrocontrol.ru', N'+7 (495) 123-45-01', 1, CAST(N'2026-05-07T16:21:30.380' AS DateTime), CAST(N'2026-05-06T09:54:40.720' AS DateTime), N'Технологический отдел')
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [is_active], [last_login], [created_at], [department]) VALUES (2, N'tech.petrova', N'hash123', N'Петрова Мария Сергеевна', N'technologist', N'maria@agrocontrol.ru', N'+7 (495) 123-45-02', 1, NULL, CAST(N'2026-05-06T09:54:40.720' AS DateTime), N'Технологический отдел')
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [is_active], [last_login], [created_at], [department]) VALUES (3, N'operator.zavodov', N'hash123', N'Заводов Сергей Николаевич', N'operator', N'sergey@agrocontrol.ru', N'+7 (495) 123-45-11', 1, NULL, CAST(N'2026-05-06T09:54:40.720' AS DateTime), N'Цех №1')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [IX_batch_steps_batch_id]    Script Date: 12.05.2026 13:13:25 ******/
CREATE NONCLUSTERED INDEX [IX_batch_steps_batch_id] ON [dbo].[batch_steps]
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__batches__56E37837BC6E19CA]    Script Date: 12.05.2026 13:13:25 ******/
ALTER TABLE [dbo].[batches] ADD UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_batches_order_id]    Script Date: 12.05.2026 13:13:25 ******/
CREATE NONCLUSTERED INDEX [IX_batches_order_id] ON [dbo].[batches]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_batches_status]    Script Date: 12.05.2026 13:13:25 ******/
CREATE NONCLUSTERED INDEX [IX_batches_status] ON [dbo].[batches]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__equipmen__357D4CF9D2BAE6CC]    Script Date: 12.05.2026 13:13:25 ******/
ALTER TABLE [dbo].[equipment] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__material__357D4CF94BDAF99E]    Script Date: 12.05.2026 13:13:25 ******/
ALTER TABLE [dbo].[materials] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producti__730E34DFA4D4BEE4]    Script Date: 12.05.2026 13:13:25 ******/
ALTER TABLE [dbo].[production_orders] ADD UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_production_orders_recipe_id]    Script Date: 12.05.2026 13:13:25 ******/
CREATE NONCLUSTERED INDEX [IX_production_orders_recipe_id] ON [dbo].[production_orders]
(
	[recipe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__357D4CF955F7F58F]    Script Date: 12.05.2026 13:13:25 ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_quality_tests_batch_id]    Script Date: 12.05.2026 13:13:25 ******/
CREATE NONCLUSTERED INDEX [IX_quality_tests_batch_id] ON [dbo].[quality_tests]
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_recipes_one_active_per_product]    Script Date: 12.05.2026 13:13:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_recipes_one_active_per_product] ON [dbo].[recipes]
(
	[product_id] ASC
)
WHERE ([status]='active')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_tech_cards_one_active_per_product]    Script Date: 12.05.2026 13:13:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tech_cards_one_active_per_product] ON [dbo].[tech_cards]
(
	[product_id] ASC
)
WHERE ([status]='active')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61648D4F4A40]    Script Date: 12.05.2026 13:13:25 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5729520212C]    Script Date: 12.05.2026 13:13:25 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[batch_steps] ADD  DEFAULT ((0)) FOR [deviation_flag]
GO
ALTER TABLE [dbo].[batch_steps] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[batches] ADD  DEFAULT ('planned') FOR [status]
GO
ALTER TABLE [dbo].[batches] ADD  DEFAULT ((0)) FOR [actual_quantity_kg]
GO
ALTER TABLE [dbo].[batches] ADD  DEFAULT ((0)) FOR [deviation_count]
GO
ALTER TABLE [dbo].[batches] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[deviation_events] ADD  DEFAULT ('warning') FOR [severity]
GO
ALTER TABLE [dbo].[deviation_events] ADD  DEFAULT ((0)) FOR [resolved]
GO
ALTER TABLE [dbo].[deviation_events] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[equipment] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[materials] ADD  DEFAULT ('kg') FOR [unit]
GO
ALTER TABLE [dbo].[materials] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[materials] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[production_orders] ADD  DEFAULT ('planned') FOR [status]
GO
ALTER TABLE [dbo].[production_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[quality_tests] ADD  DEFAULT (getdate()) FOR [analysis_date]
GO
ALTER TABLE [dbo].[quality_tests] ADD  DEFAULT ('in_progress') FOR [status]
GO
ALTER TABLE [dbo].[recipe_components] ADD  DEFAULT ((0)) FOR [tolerance_min]
GO
ALTER TABLE [dbo].[recipe_components] ADD  DEFAULT ((0)) FOR [tolerance_max]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT ((0)) FOR [sum_percentage]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[statuses] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[tech_card_steps] ADD  DEFAULT ((0)) FOR [temp_tolerance_min]
GO
ALTER TABLE [dbo].[tech_card_steps] ADD  DEFAULT ((0)) FOR [temp_tolerance_max]
GO
ALTER TABLE [dbo].[tech_card_steps] ADD  DEFAULT ((0)) FOR [pressure_tolerance_min]
GO
ALTER TABLE [dbo].[tech_card_steps] ADD  DEFAULT ((0)) FOR [pressure_tolerance_max]
GO
ALTER TABLE [dbo].[tech_card_steps] ADD  DEFAULT ((1)) FOR [is_mandatory]
GO
ALTER TABLE [dbo].[tech_cards] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[tech_cards] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[tech_cards] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[batch_materials]  WITH CHECK ADD  CONSTRAINT [FK_batch_materials_batches] FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[batch_materials] CHECK CONSTRAINT [FK_batch_materials_batches]
GO
ALTER TABLE [dbo].[batch_materials]  WITH CHECK ADD  CONSTRAINT [FK_batch_materials_materials] FOREIGN KEY([material_id])
REFERENCES [dbo].[materials] ([id])
GO
ALTER TABLE [dbo].[batch_materials] CHECK CONSTRAINT [FK_batch_materials_materials]
GO
ALTER TABLE [dbo].[batch_steps]  WITH CHECK ADD  CONSTRAINT [FK_batch_steps_batches] FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[batch_steps] CHECK CONSTRAINT [FK_batch_steps_batches]
GO
ALTER TABLE [dbo].[batch_steps]  WITH CHECK ADD  CONSTRAINT [FK_batch_steps_tech_card_steps] FOREIGN KEY([step_id])
REFERENCES [dbo].[tech_card_steps] ([id])
GO
ALTER TABLE [dbo].[batch_steps] CHECK CONSTRAINT [FK_batch_steps_tech_card_steps]
GO
ALTER TABLE [dbo].[batch_steps]  WITH CHECK ADD  CONSTRAINT [FK_batch_steps_users] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[batch_steps] CHECK CONSTRAINT [FK_batch_steps_users]
GO
ALTER TABLE [dbo].[batches]  WITH CHECK ADD  CONSTRAINT [FK_batches_production_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[production_orders] ([id])
GO
ALTER TABLE [dbo].[batches] CHECK CONSTRAINT [FK_batches_production_orders]
GO
ALTER TABLE [dbo].[deviation_events]  WITH CHECK ADD  CONSTRAINT [FK_deviation_events_batch_steps] FOREIGN KEY([step_id])
REFERENCES [dbo].[batch_steps] ([id])
GO
ALTER TABLE [dbo].[deviation_events] CHECK CONSTRAINT [FK_deviation_events_batch_steps]
GO
ALTER TABLE [dbo].[deviation_events]  WITH CHECK ADD  CONSTRAINT [FK_deviation_events_batches] FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[deviation_events] CHECK CONSTRAINT [FK_deviation_events_batches]
GO
ALTER TABLE [dbo].[deviation_events]  WITH CHECK ADD  CONSTRAINT [FK_deviation_events_users_created] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[deviation_events] CHECK CONSTRAINT [FK_deviation_events_users_created]
GO
ALTER TABLE [dbo].[deviation_events]  WITH CHECK ADD  CONSTRAINT [FK_deviation_events_users_resolved] FOREIGN KEY([resolved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[deviation_events] CHECK CONSTRAINT [FK_deviation_events_users_resolved]
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD  CONSTRAINT [FK_production_orders_recipes] FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
GO
ALTER TABLE [dbo].[production_orders] CHECK CONSTRAINT [FK_production_orders_recipes]
GO
ALTER TABLE [dbo].[production_orders]  WITH CHECK ADD  CONSTRAINT [FK_production_orders_users] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[production_orders] CHECK CONSTRAINT [FK_production_orders_users]
GO
ALTER TABLE [dbo].[quality_tests]  WITH CHECK ADD  CONSTRAINT [FK_quality_tests_batches] FOREIGN KEY([batch_id])
REFERENCES [dbo].[batches] ([id])
GO
ALTER TABLE [dbo].[quality_tests] CHECK CONSTRAINT [FK_quality_tests_batches]
GO
ALTER TABLE [dbo].[quality_tests]  WITH CHECK ADD  CONSTRAINT [FK_quality_tests_users] FOREIGN KEY([analyst_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[quality_tests] CHECK CONSTRAINT [FK_quality_tests_users]
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD  CONSTRAINT [FK_recipe_components_materials] FOREIGN KEY([material_id])
REFERENCES [dbo].[materials] ([id])
GO
ALTER TABLE [dbo].[recipe_components] CHECK CONSTRAINT [FK_recipe_components_materials]
GO
ALTER TABLE [dbo].[recipe_components]  WITH CHECK ADD  CONSTRAINT [FK_recipe_components_recipes] FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recipe_components] CHECK CONSTRAINT [FK_recipe_components_recipes]
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD  CONSTRAINT [FK_recipes_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[recipes] CHECK CONSTRAINT [FK_recipes_products]
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD  CONSTRAINT [FK_recipes_users_approved] FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[recipes] CHECK CONSTRAINT [FK_recipes_users_approved]
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD  CONSTRAINT [FK_recipes_users_created] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[recipes] CHECK CONSTRAINT [FK_recipes_users_created]
GO
ALTER TABLE [dbo].[tech_card_steps]  WITH CHECK ADD  CONSTRAINT [FK_tech_card_steps_tech_cards] FOREIGN KEY([card_id])
REFERENCES [dbo].[tech_cards] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tech_card_steps] CHECK CONSTRAINT [FK_tech_card_steps_tech_cards]
GO
ALTER TABLE [dbo].[tech_cards]  WITH CHECK ADD  CONSTRAINT [FK_tech_cards_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[tech_cards] CHECK CONSTRAINT [FK_tech_cards_products]
GO
ALTER TABLE [dbo].[tech_cards]  WITH CHECK ADD  CONSTRAINT [FK_tech_cards_users_approved] FOREIGN KEY([approved_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tech_cards] CHECK CONSTRAINT [FK_tech_cards_users_approved]
GO
ALTER TABLE [dbo].[tech_cards]  WITH CHECK ADD  CONSTRAINT [FK_tech_cards_users_created] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tech_cards] CHECK CONSTRAINT [FK_tech_cards_users_created]
GO
ALTER TABLE [dbo].[test_results]  WITH CHECK ADD  CONSTRAINT [FK_test_results_quality_tests] FOREIGN KEY([test_id])
REFERENCES [dbo].[quality_tests] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[test_results] CHECK CONSTRAINT [FK_test_results_quality_tests]
GO
USE [master]
GO
